<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Ejercicio1A</display-name>
    <servlet-name>Ejercicio1A</servlet-name>
    <servlet-class>Ejercicio1.Ejercicio1A</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio1A</servlet-name>
    <url-pattern>/Ejercicio1A</url-pattern>
  </servlet-mapping>
  <display-name>EjerciciosT1_5_Sincronizacion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ejercicio1B</display-name>
    <servlet-name>Ejercicio1B</servlet-name>
    <servlet-class>Ejercicio1.Ejercicio1B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio1B</servlet-name>
    <url-pattern>/Ejercicio1B</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio2</display-name>
    <servlet-name>Ejercicio2</servlet-name>
    <servlet-class>Ejercicio2.Ejercicio2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio2</servlet-name>
    <url-pattern>/Ejercicio2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio2B</display-name>
    <servlet-name>Ejercicio2B</servlet-name>
    <servlet-class>Ejercicio2.Ejercicio2B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio2B</servlet-name>
    <url-pattern>/Ejercicio2B</url-pattern>
  </servlet-mapping>
</web-app>