<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Ejercicio1</display-name>
    <servlet-name>Ejercicio1</servlet-name>
    <servlet-class>Ejercicio1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio1</servlet-name>
    <url-pattern>/Ejercicio1</url-pattern>
  </servlet-mapping>
  <display-name>EjerciciosT1_3_SesionesYCookies</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Ejercicio2</display-name>
    <servlet-name>Ejercicio2</servlet-name>
    <servlet-class>Ejercicio2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio2</servlet-name>
    <url-pattern>/Ejercicio2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio2B</display-name>
    <servlet-name>Ejercicio2B</servlet-name>
    <servlet-class>Ejercicio2B</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio2B</servlet-name>
    <url-pattern>/Ejercicio2B</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio3</display-name>
    <servlet-name>Ejercicio3</servlet-name>
    <servlet-class>Ejercicio3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio3</servlet-name>
    <url-pattern>/Ejercicio3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio4_Bienvenido</display-name>
    <servlet-name>Ejercicio4_Bienvenido</servlet-name>
    <servlet-class>Ejercicio4_Bienvenido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio4_Bienvenido</servlet-name>
    <url-pattern>/Ejercicio4_Bienvenido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio4_Registrar</display-name>
    <servlet-name>Ejercicio4_Registrar</servlet-name>
    <servlet-class>Ejercicio4_Registrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio4_Registrar</servlet-name>
    <url-pattern>/Ejercicio4_Registrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio4_Tienda</display-name>
    <servlet-name>Ejercicio4_Tienda</servlet-name>
    <servlet-class>Ejercicio4_Tienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio4_Tienda</servlet-name>
    <url-pattern>/Ejercicio4_Tienda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio4_Menu</display-name>
    <servlet-name>Ejercicio4_Menu</servlet-name>
    <servlet-class>Ejercicio4_Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio4_Menu</servlet-name>
    <url-pattern>/Ejercicio4_Menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio4_Listado</display-name>
    <servlet-name>Ejercicio4_Listado</servlet-name>
    <servlet-class>Ejercicio4_Listado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio4_Listado</servlet-name>
    <url-pattern>/Ejercicio4_Listado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio5_Portada</display-name>
    <servlet-name>Ejercicio5_Portada</servlet-name>
    <servlet-class>Ejercicio5_Portada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio5_Portada</servlet-name>
    <url-pattern>/Ejercicio5_Portada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio5_Bienvenida</display-name>
    <servlet-name>Ejercicio5_Bienvenida</servlet-name>
    <servlet-class>Ejercicio5_Bienvenida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio5_Bienvenida</servlet-name>
    <url-pattern>/Ejercicio5_Bienvenida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ejercicio5_Carrito</display-name>
    <servlet-name>Ejercicio5_Carrito</servlet-name>
    <servlet-class>Ejercicio5_Carrito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio5_Carrito</servlet-name>
    <url-pattern>/Ejercicio5_Carrito</url-pattern>
  </servlet-mapping>
</web-app>