<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Ejercicio1</display-name>
    <servlet-name>Ejercicio1</servlet-name>
    <servlet-class>Ejercicio1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ejercicio1</servlet-name>
    <url-pattern>/Ejercicio1</url-pattern>
  </servlet-mapping>
  <display-name>EjerciciosT1_4_Reenvio_peticion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletBienvenida</display-name>
    <servlet-name>ServletBienvenida</servlet-name>
    <servlet-class>ServletBienvenida</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBienvenida</servlet-name>
    <url-pattern>/ServletBienvenida</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDespachador</display-name>
    <servlet-name>ServletDespachador</servlet-name>
    <servlet-class>ServletDespachador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDespachador</servlet-name>
    <url-pattern>/ServletDespachador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletError</display-name>
    <servlet-name>ServletError</servlet-name>
    <servlet-class>ServletError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletError</servlet-name>
    <url-pattern>/ServletError</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTablas2</display-name>
    <servlet-name>ServletTablas2</servlet-name>
    <servlet-class>ServletTablas2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTablas2</servlet-name>
    <url-pattern>/ServletTablas2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDespachador2</display-name>
    <servlet-name>ServletDespachador2</servlet-name>
    <servlet-class>ServletDespachador2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDespachador2</servlet-name>
    <url-pattern>/ServletDespachador2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletError2</display-name>
    <servlet-name>ServletError2</servlet-name>
    <servlet-class>ServletError2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletError2</servlet-name>
    <url-pattern>/ServletError2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletError3</display-name>
    <servlet-name>ServletError3</servlet-name>
    <servlet-class>ServletError3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletError3</servlet-name>
    <url-pattern>/ServletError3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDespachador3</display-name>
    <servlet-name>ServletDespachador3</servlet-name>
    <servlet-class>ServletDespachador3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDespachador3</servlet-name>
    <url-pattern>/ServletDespachador3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEjercicio3</display-name>
    <servlet-name>ServletEjercicio3</servlet-name>
    <servlet-class>ServletEjercicio3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEjercicio3</servlet-name>
    <url-pattern>/ServletEjercicio3</url-pattern>
  </servlet-mapping>
</web-app>